<%- partial('partials/hero') %>
<%- partial('partials/ticker') %>
<%- partial('partials/stats') %>
<%- partial('partials/how-it-works') %>
<%- partial('partials/latest-articles') %>
<%- partial('partials/side-cards') %>
<%- partial('partials/subscribe') %>
